/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Font */
@font-face {
  font-family: 'BebasNeue';
  scr: url(../font/BebasNeue-Regular) format("woff"); }

/* style utama */
body {
  font: 18px/36px 'BebasNeue', 'Arial Narrow', arial, sans-serif;
  background-color: lightgrey; }

h1 {
  font-size: 50px;
  margin: 50px 0;
  text-align: center;
  text-shadow: 5px 0 2px white; }

.container {
  width: 600px;
  background-color: white;
  margin: auto;
  padding: 30px;
  -webkit-box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.3);
  border-radius: 5px; }

.gallery li {
  width: 120px;
  height: 126px;
  overflow: hidden;
  border-radius: 50%;
  border: 3px solid #666;
  float: left;
  margin-right: 22px;
  position: relative; }

.gallery li,
.gallery li img,
.gallery li span {
  /*border-radius: 50%;*/ }

.gallery li span {
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(200, 200, 200, 0.5);
  position: absolute;
  top: 0;
  text-align: center;
  /*line-height: 135px;*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #333;
  text-shadow: 1px 1px 1px #ddd;
  opacity: 1;
  -webkit-transform: scale(0) rotate(0);
      -ms-transform: scale(0) rotate(0);
          transform: scale(0) rotate(0);
  -webkit-transition: .3s;
  transition: .3s; }

.gallery li a:hover span {
  opacity: 1;
  -webkit-transform: scale(1) rotate(360deg);
      -ms-transform: scale(1) rotate(360deg);
          transform: scale(1) rotate(360deg); }

.clear {
  clear: both; }

/* overlay */
.overlay {
  width: 0;
  height: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0);
  z-index: 9999;
  -webkit-transition: .8s;
  transition: .8s;
  text-align: center; }

.overlay:target {
  width: auto;
  height: auto;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  padding: 100px; }

.overlay img {
  /*max-height: 100%;*/
  max-width: 250px;
  /*max-height: 120px;*/ }

.overlay:target img {
  -webkit-animation: zoomDanFade 1s;
          animation: zoomDanFade 1s; }

.overlay .close {
  position: absolute;
  top: 50px;
  left: 50%;
  margin-left: -20px;
  color: white;
  text-decoration: none;
  background-color: black;
  border: 1px solid white;
  line-height: 14px;
  padding: 5px;
  opacity: 0; }

.overlay:target .close {
  -webkit-animation: slideDownFade .5s .5s forwards;
          animation: slideDownFade .5s .5s forwards; }

.overlay:target .next {
  -webkit-animation: fadeAjah .5s .5s forwards;
          animation: fadeAjah .5s .5s forwards; }

/* navigasi */
.next, .prev {
  width: 57px;
  height: 57px;
  background-image: url(../img/next.png);
  position: absolute;
  text-indent: -9999px;
  top: 40%;
  margin-left: 50px; }

.prev {
  background-image: url(../img/prev.png);
  margin-left: -100px; }

/* animasi */
@-webkit-keyframes fadeAjah {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes fadeAjah {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-webkit-keyframes zoomDanFade {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0; }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1; } }

@keyframes zoomDanFade {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0; }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1; } }

@-webkit-keyframes slideDownFade {
  0% {
    opacity: 0;
    margin-top: -20px; }
  100% {
    opacity: 1;
    margin-top: 0; } }

@keyframes slideDownFade {
  0% {
    opacity: 0;
    margin-top: -20px; }
  100% {
    opacity: 1;
    margin-top: 0; } }

/*navbar*/
body {
  background-color: pink; }

.navbar {
  z-index: 9; }

.box1, .box2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.togle {
  padding: 0 15px;
  position: relative; }

.togle > .menu-list {
  display: none;
  position: absolute;
  top: 25px;
  background: #489fdf;
  width: 100px;
  padding: 15px;
  border-radius: 15px; }

.togle:hover .menu-list {
  display: block; }

.togle > .menu-list li:hover {
  background-color: white; }

.togle:hover {
  background-color: aqua; }

.sidebar {
  width: 15%;
  position: fixed;
  z-index: 2;
  top: 50px;
  left: 0;
  bottom: 0;
  background: #cccccc;
  color: black; }

  .sidebar-web-page {
    width: 15%;
    position: fixed;
    z-index: 2;
    top: 240px;
    left: 0;
    bottom: 0;
    background: #cccccc;
    color: black; }


.sidebar > ul a, .sidebar-web-page > ul a {
  text-decoration: none;
  color: #5a3c3c;
  text-decoration: none; }

.sidebar > ul li, .sidebar-web-page > ul li {
  padding: 15px 25px; }
  .sidebar > ul li.active {
    font-weight: 900; }

.sidebar li:hover, .sidebar-web-page li:hover {
  background-color: #e2e2e2;
  color: black; }
.jumbotron.jumbotron-fixed{
  background: url("../images/makanan.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: fixed;
  width: 100%;
  height: 240px;
}

.jumbotron.jumbotron-fixeds{
  background: url("../images/makanan.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 240px;
}

.content {
  padding-left: 17%;
  padding-right: 35px;
  padding-top: 70px;
  background: white;
  height: 100vh; }

.web-content {
  padding-left: 17%;
  padding-right: 35px;
  padding-top: 240px;
  background: white;
  height: 100vh; }
  .content .isi-content {
    padding: 25px 50px; }

.login-content{
  padding-top: 185px;
}

.list-keranjang{
  position: relative;
}

.list-keranjang .cancel-order{
  position: absolute;
  top: 8px;
  right: 0px;
  color: red;
  font-size: 2rem;
  cursor: pointer;
  z-index: 2;
}

.daftar-menu > .menu{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.menu>.list{
  width: 150px;
  min-height: 150px;
  border: 1px solid grey;
  margin: 15px;
  text-align: center;
}
span.belum_verif {
  color: orange; }

span.pembayaran {
  color: blue; }

span.proses {
  color: skyblue; }

span.saldo_docotin {
  color: green; }

span.habis {
  color: red; }

span.sukses {
  color: green; }

span.success {
  color: green; }

span.ignore {
  color: red; }

span.status {
  color: red; }

.content > h1 {
  margin-top: 50px;
  margin-bottom: 20px; }

.content > li {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
.form-search{
  width: 33.33%;
  margin: 35px auto;
}
.panel > .panel-heading {
  text-align: center;
  font-size: 3rem;
  font-weight: bolder; }

.panel > .form-group {
  padding-left: 30px; }

.panel > .panel-body {
  padding-left: 60px; }

.table tr td {
  text-align: center; }
.login-form{
  display: flex;
  justify-content: center;
}
.search-form {
  margin: auto;
  width: 450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .search-form h5 {
    width: 30%; }

.bordered-box {
  border: 1px solid grey;
  padding: 25px;
  margin: 3px; }

.bordered-box tr td {
  padding-left: 100px; }

.bordered-box > h4, h5 {
  text-align: center; }

nav .container-fluid {
  background-color: #333333; }

nav.navbar {
  position: fixed;
  min-height: 50px;
  right: 0;
  left: 0; }

.logo {
  text-align: center; }
  .logo .doco-logo {
    width: 150px; }

.menu {
  width: 50px; }

.row > .menu {
  width: 70px; }

.col-md-5 > .panel, .bold {
  font-weight: bold; }

.belum_verifikasi {
  color: orange; }

.cash {
  color: green; }

.menu-pics {
  width: 170px;
  height: 170px; }
  .menu-pics img {
    width: 100%;
    height: 100%; }

.custom-table tr td {
  padding: 6px 10px; }

.jumlah {
  margin-top: 30%;
  font-size: 1.5rem;
  font-weight: 600;
  text-align: left; }

.total {
  font-size: 3rem;
  font-weight: 600;
  text-align: left; }

.total-keseluruhan {
  margin-top: 5%;
  font-size: 1.8rem;
  font-weight: 600;
  text-align: left; }

.saldo {
  margin-top: 20%;
  font-size: 1.8rem;
  font-weight: 600;
  text-align: left;
  color: green; }

.saldo-anda {
  font-size: 2.25rem;
  font-weight: 600;
  text-align: left;
  color: green; }

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.circle-process {
  text-align: center;
  margin: 0 5px; }
  .circle-process .step {
    width: 35px;
    height: 35px;
    text-align: center;
    background: #ddd;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 3px #666;
            box-shadow: 0 0 3px #666;
    font-weight: bold;
    margin: auto; }
  .circle-process .desc {
    font-size: 1rem;
    margin-top: 3px; }

.circle-process.done .step {
  background: #63d187; }

.habis {
  color: red; }

.saldo-habis {
  margin-top: 20%;
  font-size: 1.8rem;
  font-weight: 600;
  text-align: left;
  color: red; }

.saldo-anda-habis {
  font-size: 2rem;
  font-weight: 700;
  text-align: left;
  color: red; }

.col-md-7 > .d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.jumlah-habis {
  margin-top: 30%;
  font-size: 1.15rem;
  font-weight: 600;
  color: red; }

.detail-va tr td {
  padding: 10px 7px; }

.centered-table {
  margin: auto; }

.navbar {
  border: none; }

.navbar > .container-fluid .navbar-brand {
  color: white; }

.bordered-box > h4 {
  font-weight: bold; }

span.saldo-bertambah {
  color: green; }

.bordered-box > h5 {
  color: blue; }

.panel-total {
  margin-top: 20px;
  -webkit-box-shadow: 0 0 8px grey;
          box-shadow: 0 0 8px grey;
  padding-left: 10px; }

.bordered-box > .box {
  width: 60%; }

.card {
  border-bottom: 1px solid grey;
  margin-bottom: 15px;
  padding: 15px; }

.navbar-default .navbar-nav > li > a {
  color: white !important;
}

.box-keranjang {
  border: 1.5px solid grey;
  padding: 10px;
  border-radius: 5px;
}

.show-foto,
.gap-bottom {
  margin-bottom: 15px;
}

.show-foto img,
.list-img {
  max-width: 100%;
}

.list-box{
  border: 2px solid grey;
  margin: 50px;
  max-width: 100%;
}

.desc-menu{
  text-align: center
}

.box-kecil{
  margin-top: 50px;
  margin-left: 15%;
}

.menus{
  background: white;
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 0 2px #666;
}

.menu-pics{
  width: 100%;
  height: 100px;
}

.gap-bottom1 {
  border: 2px solid grey;
  margin: 20px;
  padding: 10px;
}

.modal-title.centered{
  text-align: center;
}


.register {
  text-align: left;
}

.button_cari {
  text-align: center;
}

.form-input {
  weight: 10px;
}

.gap-bottom1 {
  padding: 15px;
}

.web-contents{
  background: white;
  display: flex;
  justify-content: center;
}

.alert-danger {
  margin-top: 15px;
}